* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: black;
  /* background-color: #f4e4ba; */
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
}

form {
  margin: 2rem 0 1rem 0;
}

form select,
button,
input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 0.75rem;
}

form input {
  border: 1px solid lightgray;
  font-size: 1rem;
  height: 3rem;
  padding-left: 0.5rem;
}

.dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.dropdown i {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.select-container img {
  max-width: 2rem;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  border-radius: 0.5rem;
  border: 0.5px solid gray;
}

.select-container select {
  font-size: 1rem;
  width: auto;
}

.msg {
  margin: 2rem 0 2rem 0;
  font-size: 20px;
  font-weight: bold;
}

form button {
  height: 3rem;
  /* background-color: #af4d98; */
  background-color: #928E85;
  color: #fff;
  font-size: 1.15rem;
  cursor: pointer;
}
 
.dark{
    background-color: #464646;
    color: white;
}
.light{
    background-color: #ade8f4;
    color: black; 
} 
#moon{
    display: block;
}
#sun{
    display: none;
}
#modeBtn{
    display: flex;
    height: fit-content;
    width: fit-content;
    align-items:center ;
    gap: 5px;
    cursor: pointer;
    /* position: fixed; */
    position: absolute;
    right: 80px;
    top: 50px;

}

.container_dark {
  background-color: #6c757d;
  color: white;
}

.container_light {
  background-color:#fff;
  color: black;
}


